


body {
  margin-top: 20px;
  margin-left: 20px;
}
.cat-info {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
  }

 h2{
    color:chocolate;
 }
  .is-hidden {
    display:none;
  }
 
  